In [17]:
sonuc = str((5+6) ** 2 ) + "121"
print(sonuc)

121121

In [16]:
sonuc = (sonuc + sonuc) * 2
type(sonuc)

str

In [14]:
print("clarusway", "clarusway", "clarusway", sep = "-")

clarusway-clarusway-clarusway

In [15]:
"clarusway" * 3

'claruswayclaruswayclarusway'

In [21]:
print(* "clarusway")

c l a r u s w a y

In [22]:
"clarusway"[5]

's'

In [25]:
print(* "1 2")

1   2

In [27]:
sonuc = "clarusway"
sonuc *= 4
sonuc

'claruswayclaruswayclaruswayclarusway'

In [29]:
sonuc = "clarusway"
sonuc -= "way"
sonuc

TypeError: unsupported operand type(s) for -=: 'str' and 'str'

In [35]:
print(* "clarusway", sep = " ")

c l a r u s w a y

In [39]:
print(* "clarusway", sep="\\")

c\l\a\r\u\s\w\a\y

In [36]:
print("clarusway" * 3, sep=" ")

claruswayclaruswayclarusway

In [41]:
print("test %d test %s" % ("deneme", 1))

TypeError: %d format: a number is required, not str

In [49]:
phrase1 = 'The pi constant is %06.2f'
phrase2 = 'The pi constant is %e20.4f'
number = 3.14159
print(phrase1 % number)
print(phrase2 % number)
print('More accurate value of pi is %.5f' % number)

The pi constant is 003.14
The pi constant is 3.141590e+0020.4f
More accurate value of pi is 3.14159

In [56]:
phrase = 'I have %d %s and it weigh %.5f kg each' % (2, 'cats', 1.5450000000001)
print(phrase)

I have 2 cats and it weigh 1.54500 kg each

In [58]:
"metodlar".format()

'metodlar'

In [64]:
phrase = '{1} {1}'.format('circumstances', 'in all', 'generosity', 'wins')
print(phrase)

in all in all

In [65]:
saat = "05:00"
yer = "okul"
miktar = 2

In [71]:
print("Ben sabah {} de uyandım. {}'a gittim. Gelirken de {} kg elma aldım." . format(saat, yer, miktar))

Ben sabah 05:00 de uyandım. okul'a gittim. Gelirken de 2 kg elma aldım.

In [72]:
print("Ben sabah {} de uyandım. {}'a gittim. Gelirken de {} kg elma aldım." . format("05:00", "okul", 2))

Ben sabah 05:00 de uyandım. okul'a gittim. Gelirken de 2 kg elma aldım.

In [74]:
print("Ben sabah {1} de uyandım. {0}'a gittim. Gelirken de {1} kg elma aldım." . format("05:00", "okul"))

Ben sabah okul de uyandım. 05:00'a gittim. Gelirken de okul kg elma aldım.

In [75]:
phrase = '{morality} {} {} {condition}'.format('wins', 'in all', condition = 'circumstances', morality = 'generosity')

print(phrase)

generosity wins in all circumstances

In [76]:
phrase = '{morality} {0} {1} {condition}'.format('wins', 'in all', condition = 'circumstances', morality = 'generosity')

print(phrase)

generosity wins in all circumstances

In [77]:
"If we had bought ${} crypto coins at the weekend, we would have had ${} with a profit share of {}% after {} days.".format(2000, 4152.32, 11, 5)

'If we had bought $2000 crypto coins at the weekend, we would have had $4152.32 with a profit share of 11% after 5 days.'

In [78]:
print("{}-{}-{}".format("12", "Feb", "Feb"))
print("{no}-{month}-{month}".format(no="12", month="Feb"))

print("{6} {5} {0} {1} {3} {4} {2}".format("a new", "job", "months", "in", 6, "have started", "I will"))

12-Feb-Feb
12-Feb-Feb
I will have started a new job in 6 months

In [81]:
text = f"{str(11) + '11'}"
text

'1111'

In [84]:
text = f"ali veli {'seli'.replace('s', 'd')}"
text

'ali veli deli'

In [85]:
print(f"{2**3}")

8

In [86]:
name = "MARIAM"
output = f"My name is {name.capitalize()}"
output

'My name is Mariam'

In [97]:
name = "joseph"
job = "teachers"
domain = "Data Science"
message = (    
    f"Hi {name}.\n"
    f"You are one \nof the {job}"
    f"in the {domain} section."
)
print(message)

Hi joseph.
You are one
of the teachersin the Data Science section.

In [99]:
"Ben sabah {} de uyandım. \
okula gittim\
    test\
2 ekmek aldım".format('05:00')

'Ben sabah 05:00 de uyandım. okula gittim    test2 ekmek aldım'

In [93]:
name = "joseph"
job = "teachers"
domain = "Data Science"
message = (
    f"Hi {name}. \
You are one nof the {job} \
in the {domain} section."
)
print(message)

Hi joseph. You are one nof the teachers in the Data Science section.

In [103]:
ame = "joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}."\
    f"You are one of the {job}"\
    f"in the {domain} section."

print(message)

Hi joseph.You are one of the teachersin the Data Science section.

In [111]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"

text = f"{name} is a {age} {gender} and \ she is a \ student at the {school}."
text

'Susan is a young lady and \\ she is a \\ student at the CLRWY IT university.'

In [110]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"

text = f"{name} is a {age} "    \
       f"{gender} and she is "\
       f"a student at the {school}."
text

'Susan is a young lady and she isa student at the CLRWY IT university.'

In [112]:
f"Ben sabah {saat} de uyandım. \
okula gittim\
    test\
2 ekmek aldım"

'Ben sabah 05:00 de uyandım. okula gittim    test2 ekmek aldım'

In [115]:
text = "clarusway"
n = 5
text = text[:n] + text[n+1:]
text

'claruway'

In [118]:
print(input()[:int(input())])

jhsgl

In [120]:
"test".capitalize().replace("T", "l").count("e")

1

In [121]:
str("test".capitalize().replace("T", "l").isupper()).replace("False", "True")

'True'

In [122]:
type("test".capitalize().replace("T", "l").isupper())

bool

In [128]:
city = "SARAJEVO"
print(f"I live in {city.lower().upper().capitalize()}.")

I live in Sarajevo.