<p align="center">
<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="600" height="100" >
</p>

<h1><p style="text-align: center; color:yellow">Python In-Class, <br>18 November 2021</p><h1>

In [1]:
liste = [1,2,3,4,5]

In [2]:
iterator = iter(liste)

In [3]:
next(iterator)

1

In [4]:
next(iterator)

2

In [5]:
next(iterator)

3

In [6]:
next(iterator)

4

In [7]:
next(iterator)

5

In [8]:
next(iterator)

StopIteration:

In [9]:
liste

[1, 2, 3, 4, 5]

In [10]:
for i in liste:
    print(i)

1
2
3
4
5

In [12]:
iterator = iter(liste)

while True:
    try:
        print(next(iterator))
    except StopIteration:
        break

1
2
3
4
5

In [14]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
for username in {"a", 1, "b"}:
    # username = "1"
    print(username)

1
a
b

In [3]:
counter = 0
for domates in {"a", 1, "b"}:
    counter += 1
    print(counter)

1
2
3

In [8]:
counter = 0
liste = [1,2,3,4]
while counter < len(liste) :
    değişken = liste[counter]
    print(değişken)
    counter += 1

1
2
3
4

In [9]:
for i in liste:
    print(i)

1
2
3
4

In [11]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for season in seasons[1:3]:
	print(season)

summer
autumn

In [12]:
type(seasons[1:3])

list

In [15]:
liste = [10, 20]

for i in range(liste[0]+1,liste[1]+1, 2):
    print(i)

11
13
15
17
19

In [17]:
for i in "clarusway":
    print(i, end= "+")

c+l+a+r+u+s+w+a+y+

In [19]:
word = input("bir kelime girin :  ")
counter = 0
for i in word:
    counter += 1
    if counter < len(word):
        i = i + "-"
    
    print(i, end ="")

c-l-a-r-u-s-w-a-y

In [21]:
word = input("bir kelime girin :  ")
counter = 0
kelime = ""
for i in word:
    counter += 1
    if counter < len(word):
        kelime = kelime + i + "-"
    else:
        kelime += i

print(kelime)

c-l-a-r-u-s-w-a-y

In [22]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [23]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [25]:
range(11)

range(0, 11)

In [26]:
print(range(11))

range(0, 11)

In [28]:
print(* range(1, 11))

1 2 3 4 5 6 7 8 9 10

In [29]:
type(range(11))

range

In [30]:
myrange = range(1,21,2)

In [31]:
myrange.start

1

In [32]:
myrange.stop

21

In [34]:
myrange.step

2

In [35]:
myrange.index(17)

8

In [36]:
myrange.index(10)

ValueError: 10 is not in range

In [37]:
myrange.count(5)

1

In [38]:
myrange.count(6)

0

In [39]:
type(myrange)

range

In [40]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [42]:
print(* "hello", sep = "-")

h-e-l-l-o

In [44]:
for i in [[1,2], [3,4]]:
    for j in i:
        print(j)

1
2
3
4

In [46]:
for i, j in [[1,2], [3,4]]:
    print(i, j)

1 2
3 4

In [52]:
user = {
	'name':'Daniel',
	'surname':'Smith',
	'age':35
}

for i, j in user.items():
	print(i, ":", j, type(j))

name : Daniel <class 'str'>
surname : Smith <class 'str'>
age : 35 <class 'int'>

In [49]:
for i, j in [1,2], [3,4], (5, 6):
    print(i, j)

1 2
3 4
5 6

In [56]:
test = [(1,2), (3,4), (5,6)]
for i, j in test:
    print(i, j)

1 2
3 4
5 6

In [58]:
[1,2], [3,4], (5, 6)

([1, 2], [3, 4], (5, 6))

In [59]:
liste1 = [1,2]
liste2 = [3,4]
for i, j in liste1, liste2:
    print(i, j)

1 2
3 4

In [60]:
numara = int(input("enter a number between 1 to 9 :  "))

for i in range(11) :
    print(f"{numara} X {i} = {i*numara}")

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [61]:
numara = int(input("enter a number between 1 to 9 :  "))

for i in range(11) :
    print("{} X {} = {}".format(numara, i, numara *i))

4 X 0 = 0
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [66]:
numara = int(input("enter a number between 1 to 9 :  "))

for i in range(11) :
    print("{} X {} = ".format(numara, i) + str(numara * i) + " eder")

1 X 0 = 0 eder
1 X 1 = 1 eder
1 X 2 = 2 eder
1 X 3 = 3 eder
1 X 4 = 4 eder
1 X 5 = 5 eder
1 X 6 = 6 eder
1 X 7 = 7 eder
1 X 8 = 8 eder
1 X 9 = 9 eder
1 X 10 = 10 eder

In [67]:
zip.__doc__

"zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.\n\n   >>> list(zip('abcdefg', range(3), range(4)))\n   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]\n\nThe zip object yields n-length tuples, where n is the number of iterables\npassed as positional arguments to zip().  The i-th element in every tuple\ncomes from the i-th iterable argument to zip().  This continues until the\nshortest argument is exhausted.\n\nIf strict is true and one of the arguments is exhausted before the others,\nraise a ValueError."

In [68]:
list(zip('abcdefg', range(3), range(4)))

[('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

In [69]:
list(zip('abcdefg', [1,2,3], range(4)))

[('a', 1, 0), ('b', 2, 1), ('c', 3, 2)]

In [70]:
zip('abcdefg',  (1,2))

In [92]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]

zipped =zip(text, numbers)
last_zipped = dict(zipped)
zipped

In [74]:
print(zipped)

<zip object at 0x0000022FC20005C0>

In [78]:
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [83]:
list(zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [86]:
dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [87]:
dict(zip(text, numbers))

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [88]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [90]:
list(last_zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [93]:
last_zipped

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [94]:
evens = []
odds = []

for i in range(11) :

    if i % 2 == 0 :
        evens.append(i)
    else:
        odds.append(i)

print("evens : ", evens)
print("odds : ", odds)

evens :  [0, 2, 4, 6, 8, 10]
odds :  [1, 3, 5, 7, 9]

In [2]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)

In [8]:
girilen_sayi = int(input("Bir sayı giriniz : "))
while girilen_sayi != -123:
    girilen_sayi = int(input("Bir sayı giriniz : "))

    if girilen_sayi == 0:
            print("Doğal sayıdır.")
    else:    
        if girilen_sayi % 2 == 0 :
            print("{} sayısı pozitif çift sayıdır.".format(girilen_sayi))
        else:
            print("{} sayısı pozitif tek sayıdır.".format(girilen_sayi))

5 sayısı pozitif tek sayıdır.

In [98]:
number = int(input("enter a number 1 to 9 :  "))


for i in range(1, number+1) :
    print(* i * f"{i}")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [100]:
number = int(input("enter a number 1 to 9 :  "))


for i in range(1, number+1) :
    print(* str(i) * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [102]:
number = int(input("enter a number 1 to 9 :  "))


for i in range(1, number+1) :
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [103]:
for i in range(1, int(input("enter a number 1 to 9 :  "))+1) :
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [104]:
"hello".center(10)

'  hello   '

In [109]:
number = int(input("enter a number 1 to 9 :  "))


for i in range(1, number+1) :
    print(*((str(i) * i *2)).center(number *2))

                1 1
              2 2 2 2
            3 3 3 3 3 3
          4 4 4 4 4 4 4 4
        5 5 5 5 5 5 5 5 5 5
      6 6 6 6 6 6 6 6 6 6 6 6
    7 7 7 7 7 7 7 7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9

In [110]:
number = int(input("enter a number 1 to 9 :  "))
for i in range(1, number+1) :


    print(" " *(number - i) + (str(i) + " ") * i)

        1
       2 2
      3 3 3
     4 4 4 4
    5 5 5 5 5
   6 6 6 6 6 6
  7 7 7 7 7 7 7
 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [114]:
total_sales = [52000.00, 51000.00, 48000.00]
prod_cost = [46800.00, 45900.00, 43200.00]

for sales, costs in zip(total_sales, prod_cost):
    
    profit = sales - costs

    print(f"Total profit : {profit}")

Total profit : 455200.0
Total profit : 5100.0
Total profit : 4800.0