<p align="center">
<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="600" height="100" >
</p>

<h1><p style="text-align: center; color:yellow">Python In-Class, <br>23 November 2021</p><h1>

In [2]:
for i in range(1,11):
    print()
    print("*******************")
    print()
    for j in range(1,11):

        print(f"{i} X {j} = {i*j}")

*******************
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
*******************
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
*******************
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
*******************
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
*******************
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
*******************
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
*******************
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
*******************
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
*******************
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
*******************
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [3]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

my_list = []

for sublist in matrix:
    for value in sublist:
        my_list.append(value)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
v = ("five", 5, True )

In [5]:
v

('five', 5, True)

In [6]:
(x, y, z) = v

In [7]:
x

'five'

In [8]:
y

5

In [9]:
z

True

In [13]:
(monday, tuesday, wednesday, thursday, friday, saturday, sunday) = tuple(range(1,8))

In [14]:
monday

1

In [15]:
friday

5

In [16]:
a, b = (10, 20, 30, 40)

ValueError: too many values to unpack (expected 2)

In [17]:
a, b, _, _ = (10, 20, 30, 40)

In [18]:
a

10

In [19]:
b

20

In [1]:
a, _, b, _ = (10, 20, 30, 40)

In [7]:
b

30

In [22]:
x, y, z = (11, 22, 33, 44, 55)

ValueError: too many values to unpack (expected 3)

In [23]:
x, y, *z = (11, 22, 33, 44, 55)

In [24]:
x

11

In [25]:
y

22

In [26]:
z

[33, 44, 55]

In [8]:
x, y, *_ = (11, 22, 33, 44, 55)

In [11]:
x

11

In [29]:
y

22

In [30]:
x, y, *z, t = (11, 22, 33, 44, 55, 66, 77)

In [31]:
y

22

In [32]:
t

77

In [33]:
z

[33, 44, 55, 66]

In [34]:
x, y, *_, t = (11, 22, 33, 44, 55, 66, 77)

In [35]:
t

77

In [36]:
_

[33, 44, 55, 66]

# List Comprehension

## list comprehension'ların temel yapısı :

```python
[expression for item in iterable]


for item in iterable :
    expression



    boş listeye append yap

In [37]:
sayilar = []

for i in range(5):
    sayilar.append(i)

sayilar

[0, 1, 2, 3, 4]

In [41]:
sayılar = [i for i in range(5)]

In [42]:
sayılar

['elma', 'elma', 'elma', 'elma', 'elma']

In [43]:
kare = []

for i in range(1,6):
    kare.append(i**2)

kare

[1, 4, 9, 16, 25]

In [44]:
kare2 = [i ** 2 for i in range(1, 6)]

kare2

[1, 4, 9, 16, 25]

## ternary `if ` condition yapısı

```python
execute-body1 if condition else execute-body2
```

In [45]:
condition = True

if condition :
    a = 1
else :
    a = 0

print(a)

1

In [46]:
condition = False

1 if condition else 0

0

In [47]:
my_list = [1, 2, 3, 4, 5, 6]

new_list = []

for i in my_list:
    if i %2 :
        new_list.append(i ** 2)

In [48]:
new_list

[1, 9, 25]

In [49]:
[i ** 2 for i in my_list]

[1, 4, 9, 16, 25, 36]

In [50]:
[i ** 2 for i in my_list if i % 2]

[1, 9, 25]

In [51]:
my_list = [1, 2, 3, 4, 5, 6]

new_list = []

for i in my_list:
    if i %2 :
        new_list.append(i ** 2)
    else:
        new_list.append(i ** 3)

In [52]:
new_list

[1, 8, 9, 64, 25, 216]

In [53]:
[i ** 2 for i in my_list if i % 2 else i ** 3]

SyntaxError: invalid syntax (Temp/ipykernel_9508/2869112883.py, line 1)

In [55]:
[i ** 2 if i % 2 else i ** 3 for i in my_list ]

[1, 8, 9, 64, 25, 216]

In [57]:
[i ** 2 if i % 2 for i in my_list ]

SyntaxError: expected 'else' after 'if' expression (Temp/ipykernel_9508/1507718059.py, line 1)

In [ ]:
for i in range(1,11):
    print()
    print("*******************")
    print()
    for j in range(1,11):

        print(f"{i} X {j} = {i*j}")

In [59]:
my_table = [f"{i} X {j} = {i*j}" for i in range(1,11) for j in range(1,11)]

In [61]:
my_table[-1]

'10 X 10 = 100'

In [2]:
list1 = [10, 50, 20, 30, 40]
new_list = [i if i > 30 else i ** 2 for i in list1]

print(new_list, type(new_list))

[100, 50, 400, 900, 40] <class 'list'>

In [66]:
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]

flatten_planets = []
  
for sublist in planets:
    for planet in sublist:
          
        if len(planet) < 6:
            flatten_planets.append(planet)
          
print(flatten_planets)

['Venus', 'Earth', 'Mars', 'Pluto']

In [69]:
flatten_planets2 = [planet for sublist in planets for planet in sublist if len(planet) < 6]

In [70]:
flatten_planets2

['Venus', 'Earth', 'Mars', 'Pluto']

In [3]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

my_list = []

for sublist in matrix:
    for value in sublist:
        my_list.append(value)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
new_list = [value for sublist in matrix for value in sublist]
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
new_list = ["elma" for sublist in matrix for value in sublist]
new_list

['elma', 'elma', 'elma', 'elma', 'elma', 'elma', 'elma', 'elma', 'elma']

In [6]:
# 0 1 2
# 000
# 001
# 002
# 010
# 011
# 012
# 020
# .
# 222

In [12]:
numbers = []

for i in range(3):
    for j in range(3):
        for k in range(3):
            numbers.append((i,j,k))
print(numbers)

[(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 2, 0), (0, 2, 1), (0, 2, 2), (1, 0, 0), (1, 0, 1), (1, 0, 2), (1, 1, 0), (1, 1, 1), (1, 1, 2), (1, 2, 0), (1, 2, 1), (1, 2, 2), (2, 0, 0), (2, 0, 1), (2, 0, 2), (2, 1, 0), (2, 1, 1), (2, 1, 2), (2, 2, 0), (2, 2, 1), (2, 2, 2)]

In [8]:
test = []

test.append((1, 2, 3))

In [9]:
test

[(1, 2, 3)]

In [13]:
numbers = [(i,j,k) for i in range(3) for j in range(3) for k in range(3) ]

In [15]:
print(numbers)

[(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 2, 0), (0, 2, 1), (0, 2, 2), (1, 0, 0), (1, 0, 1), (1, 0, 2), (1, 1, 0), (1, 1, 1), (1, 1, 2), (1, 2, 0), (1, 2, 1), (1, 2, 2), (2, 0, 0), (2, 0, 1), (2, 0, 2), (2, 1, 0), (2, 1, 1), (2, 1, 2), (2, 2, 0), (2, 2, 1), (2, 2, 2)]

In [21]:
urunler = [
    {'name':'samsung S6', 'price': '3000' },
    {'name':'samsung S7', 'price': '4000' },
    {'name':'samsung S8', 'price': '5000' },
    {'name':'samsung S9', 'price': '6000' },
    {'name':'samsung S10', 'price': '7000' }
]

toplam = 0

for urun in urunler:
    toplam += int(urun["price"])

print("toplam fiyat : ", toplam)

toplam fiyat :  25000

In [19]:
sehirler = ['kocaeli','istanbul','ankara','izmir','rize']

for sehir in sehirler:
    if len(sehir) <= 5 :
        print(sehir)

izmir
rize

In [23]:
[f"{sehir.upper()} karakterli bir ildir" for sehir in sehirler if len(sehir) <= 5]

['IZMIR karakterli bir ildir', 'RIZE karakterli bir ildir']

In [26]:
sum([int(urun["price"]) for urun in urunler])

25000

In [25]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."

In [27]:
years = [1983, 1999, 2008, 1956, 1986]
ages = [2021-year for year in years]
ages

[38, 22, 13, 65, 35]

In [28]:
a = [1, 2, 3, 4, 5]

sonuc = ["yes" if i == 1 else "no" if i == 2 else "boş" for i in a]
sonuc

['yes', 'no', 'boş', 'boş', 'boş']

In [31]:
a = [1, 2, 3, 4, 5]

sonuc = ["yes" if i == 1 else ("no" if i == 2 else "boş") for i in a]
sonuc

['yes', 'no', 'boş', 'boş', 'boş']

In [32]:
i =5

if i ==1 :
    print("yes")

else:
    if i==2:
        print("no")
    else:
        print("boş")

boş

In [33]:
bos = []

a = [bos.append(i) for i in range(5)]

print(bos)

[0, 1, 2, 3, 4]

In [34]:
print(a)

[None, None, None, None, None]

In [35]:
bos = []

a = [i for i in range(5)]

In [36]:
a

[0, 1, 2, 3, 4]

In [37]:
bos = []

a = []

print(bos)

for i in range(5):
    bos.append(i)
    a.append(bos.append(i))

a

[]

[None, None, None, None, None]

In [39]:
[].append.__doc__

'Append object to the end of the list.'

In [40]:
a

[None, None, None, None, None]

In [41]:
for i in range(5):
    a.append(i)

In [42]:
a

[None, None, None, None, None, 0, 1, 2, 3, 4]

In [43]:
map.__doc__

'map(func, *iterables) --> map object\n\nMake an iterator that computes the function using arguments from\neach of the iterables.  Stops when the shortest iterable is exhausted.'

In [46]:
a = list(map(int, input("aralarında boşluk bırakarak sayıları girin : ").split()))

In [47]:
a

[1, 2, 3, 4, 5, 6]

In [48]:
"1 3 5 11 14 15 16".split()

['1', '3', '5', '11', '14', '15', '16']

In [49]:
liste = ["1", "2", "3"]
toplam = 0

for i in liste:
    toplam += int(i)

In [51]:
liste = ["1", "2", "3"]
toplam = 0

for i in liste:
    liste[liste.index(i)] = int(i)

In [52]:
liste

[1, 2, 3]

In [55]:
yeniliste = list(map(int, ["1", "2", "3"]))
yeniliste

[1, 2, 3]

In [56]:
a = list(map(int, input("aralarında boşluk bırakarak sayıları girin : ").split()))

In [57]:
a

[1, 2, 3, 45, 69, 85, 74, 56, 14]

In [65]:
a = list(map(float, input("aralarında virgülle sayıları girin : ").split(",")))

In [61]:
a = set(map(float, "123456"))

In [62]:
a

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0}

In [66]:
a

[1.0, 2.0, 3.0, 4.0]